body {
    background-color: #f5f7fb;
   
}

.card-box{
    background: #fff;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.profile-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 16px;
}

.tag {
border: 1px solid #dee2e6;
padding: 6px 12px;
border-radius: 20px;
font-size: 14px;
margin: 4px;
display: inline-block;
background: #f8f9fa;
}


.social-btn {
border: 1px solid #dee2e6;
padding: 6px 14px;
border-radius: 10px;
text-decoration: none;
color: #333;
margin-right: 6px;
font-size: 14px;
}


.social-btn:hover {
background: #f1f1f1;
}
