p.blue-text {
    color: blue;
}
.yellow {
    color: yellow;
}

.class1 {
    font-family: 'Courier New', Courier, monospace;
    color: green;
}

div {
    background-color: gray;
}


div.container {
    border: 2px solid black;
    padding: 10px;
}


div.container p.error.other {
    color: red;
    font-weight: bold;
} 