body{
    font-family:  Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    margin: 0;
}

.calculator{
    width: 300px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.display{
    width: 95%;
    height: 50px;
    text-align: right;
    font-size: 1.5rem;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: rgb(202, 200, 200);
    border-radius: 8px;
    color: white;

}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px

}

.button, .buttonequal, .buttonclear, .buttonoperator {
    background-color: rgb(209, 207, 207);
    border: none;
    font-size: 1.5rem;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.2s;
    color: black;

}

.button:hover, .buttonequal:hover, .buttonclear:hover, .buttonoperator:hover {
    background-color: #d6e5ad;
    transform: scale(1.1);
}

.button:active .buttonequal:active, .buttonclear:active, .buttonoperator:active {
    transform: scale(0.95);
}




